* {
  background-color: blanchedalmond;
}

#biryaniPic {
  height: auto;
  width: 300px;
}

#summary {
  font-family: Georgia, "Times New Roman", Times, serif, Verdana, sans-serif;
  color: black;
}

.lists {
  font-family: Georgia, "Times New Roman", Times, serif, Verdana, sans-serif;
  font-size: 17px;
  color: brown;
  font-weight: 400;
}

.h1headers {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.h3headers {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.h2headers {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
